<style>
    label{
        font-family: 'Prompt', sans-serif;
    }
    .navbar-toggler-icon{
        color: white !important;
    }
    .navbar-brand {
        color: white !important;
    }
    .navbar-dark{
        background-color: #643085 !important;
    }
</style>

<nav class="navbar sticky-top navbar-expand-md navbar-dark">
    <a class="navbar-brand" href="#"><label style="font-size: 20px">945 Agent Report</label></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#"></a>
            </li>
        </ul>
    </div>
</nav>



